<div class="page-body" *transloco="let t">
  <h1>{{ t("settings.users.details.title", {id: name}) }}</h1>
  <button mat-flat-button color="primary" type="button" routerLink="..">
    <mat-icon>arrow_back</mat-icon>
    {{ t('generic.button.back') }}
  </button>
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true" *ngIf="auth.authInfo()?.username !== name">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>settings</mat-icon>
          {{ t("settings.users.details.basic-settings") }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>{{ t("generic.language") }}</mat-label>
        <mat-select [value]="(userDetails$ | async)?.languageCode" (selectionChange)="onLanguageChange($event.value)">
          @for (lang of languages; track lang) {
            <mat-option [value]="lang">{{ t("language." + lang + ".translated") }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle [disabled]="auth.authInfo()?.username === name"
                        [ngModel]="(userDetails$ | async)?.enabled"
                        (toggleChange)="toggleEnabled()">
        {{ t("settings.users.label.enabled") }}
      </mat-slide-toggle>
      <mat-slide-toggle [disabled]="auth.authInfo()?.username === name"
                        [ngModel]="(userDetails$ | async)?.admin"
                        (toggleChange)="toggleAdmin()">
        {{ t("settings.users.label.admin") }}
      </mat-slide-toggle>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>tune</mat-icon>
          {{ t("settings.users.details.roles") }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-slide-toggle *ngFor="let role of (roleList$ | async)"
                        [checked]="(userDetails$ | async)?.roles?.includes(role.name)"
                        (toggleChange)="toggleRole(role.name)">
          {{ role.name }}
      </mat-slide-toggle>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="false" *ngIf="auth.authInfo()?.username !== name">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>lock_reset</mat-icon>
          {{ t("settings.users.details.password-reset") }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="pwForm" (ngSubmit)="resetPassword()">
        <mat-form-field>
          <mat-label>{{ t("settings.account.password.new") }}</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
        <br/>
        <button mat-raised-button type="submit" color="primary" [disabled]="!pwForm.valid">
          <mat-icon>check</mat-icon>
          {{ t("settings.account.password.submit") }}
        </button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

</div>
