<mat-toolbar color="primary">
  <button mat-button type="button" routerLink="/">my.awae.ch</button>

  <span class="toolbar-spacer"></span>
  @if (auth.authInfo()) {
    <button mat-icon-button [matMenuTriggerFor]="toolbarSettingsMenu">
      <mat-icon>settings</mat-icon>
    </button>
  }
</mat-toolbar>
<mat-menu #toolbarSettingsMenu="matMenu">
  @for (item of settingsOptions; track item.path) {
    @if (auth.authInfo()?.authorities?.includes(item.auth)) {
      <button mat-menu-item [routerLink]="item.path"
              routerLinkActive="settings-item-selected">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.titleKey | transloco }}
      </button>
    }
  }
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    {{ 'navbar.logout' | transloco }}
  </button>
</mat-menu>
