<div class="nav-flexbox">

  <mat-card appearance="raised" class="nav-flex-item" routerLink="./new">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>add_box</mat-icon>
        Add Book
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>&nbsp;</mat-card-content>
  </mat-card>
  @for (item of list$ | async; track item.id) {
    <mat-card appearance="raised" class="nav-flex-item" [routerLink]="'./' + item.id">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>book_2</mat-icon>
          {{ item.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-chip highlighted color="primary">{{ item.openingDate.toLocaleDateString() }}
            - {{ item.closingDate.toLocaleDateString() }}
          </mat-chip>
        </p>
        @if (item.description) {
          <p>
            {{ item.description }}
          </p>
        }
      </mat-card-content>
    </mat-card>
  }

</div>
