<div class="page-body" *transloco="let t">
  <mat-card>
    <mat-card-content>
      <mat-tab-group dynamicHeight [selectedIndex]="selectedTabIndex.value"
                     (selectedIndexChange)="onTabChange($event)">
        <mat-tab [label]="t('bookkeeping.book.tab.account-groups')">
          <div class="wrapper">
            <app-canary-docker></app-canary-docker>
          </div>
        </mat-tab>
        <mat-tab [label]="t('bookkeeping.book.tab.transactions')">
          <div class="wrapper">
            <app-webcanary></app-webcanary>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
