<table mat-table [dataSource]="this.data() || []" multiTemplateDataRows>

  <!-- NAME ROW -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let key"> {{ key.name }}</td>
  </ng-container>
  <!-- CREATED AT ROW -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef class="created-at">Created At</th>
    <td mat-cell *matCellDef="let key"> {{ key.createdAt.toLocaleDateString() }}</td>
  </ng-container>
  <!-- EXPANSION ICON -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef class="expander-icon">&nbsp;</th>
    <td mat-cell *matCellDef="let key">
      <button matIconButton (click)="toggle(key); $event.stopPropagation()" class="toggle-button"
              [class.toggle-button-expanded]="isExpanded(key)">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- EXPANDED CONTENTS -->
  <ng-container matColumnDef="expanded">
    <td mat-cell *matCellDef="let key" [attr.colspan]="3">
      <div class="key-details-wrapper" [class.key-details-wrapper-expanded]="isExpanded(key)">
        <div class="key-details">
          @for (auth of key.authorities; track auth.name) {
            <div>
              <mat-chip class="auth-chip" [disabled]="!auth.active" color="primary" highlighted>{{ auth.name }}
              </mat-chip>
            </div>
          }
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'createdAt', 'expand']"></tr>
  <tr mat-row *matRowDef="let key; columns: ['name', 'createdAt', 'expand']"
      class="element-row" [class.element-row-expanded]="isExpanded(key)"
      (click)="toggle(key)"
  ></tr>
  <tr mat-row *matRowDef="let key; columns : ['expanded']" class="details-row"></tr>
</table>
