.page-body {
  max-width: 800px;
  margin: 0 auto;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #e0e0e0;
}

.mat-column-id {
  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.mat-column-description {
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.mat-column-enabled {
  text-align: right;
}

table {
  margin-top: 1em;
}

.createButton {
  text-align: right;

  button {
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .hide-small {
    display: none;
  }
}
