<button mat-flat-button color="primary" routerLink="../">
  <mat-icon>arrow_back</mat-icon>
  {{ "generic.button.back" | transloco }}
</button>
<div class="page-body" *transloco="let t">

  <!-- SUMMARY -->
  @if (!edit_mode) {
    @if (book != null) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            @if (book.summary.closed) {
              <mat-icon>lock</mat-icon>
            } @else {
              <mat-icon>book_2</mat-icon>
            }
            {{ book.summary.title }} &nbsp;
            <button mat-raised-button color="primary" (click)="editBook()">
              <mat-icon>edit</mat-icon>
              {{ "bookkeeping.book.edit" | transloco }}
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-chip color="secondary" highlighted>{{ book.summary.openingDate.toLocaleDateString() }}
              - {{ book.summary.closingDate.toLocaleDateString() }}
            </mat-chip>
          </p>
          @if (book.summary.description) {
            <p>
              {{ book.summary.description }}
            </p>
          }
        </mat-card-content>
        <mat-card-actions>
          @if (exportActive) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          } @else {
            <button mat-raised-button color="primary" (click)="onReportBundle()">
              <mat-icon>download</mat-icon>
              {{ "bookkeeping.report.full" | transloco }}
            </button>
            <button mat-raised-button color="primary" (click)="onPartialReport()">
              <mat-icon>download</mat-icon>
              {{ "bookkeeping.report.partial" | transloco }}
            </button>
            <button mat-raised-button color="primary" (click)="onAccountLedgerExport()">
              <mat-icon>download</mat-icon>
              {{ "bookkeeping.report.ledgers" | transloco }}
            </button>
            <button mat-raised-button color="primary" (click)="onExcelExport()">
              <mat-icon>download</mat-icon>
              {{ "bookkeeping.report.excel" | transloco }}
            </button>
          }
        </mat-card-actions>
      </mat-card>
    }
  } @else {
    <!-- EDIT VIEW -->
    <form [formGroup]="form">
      <mat-card>
        <mat-card-content style="width: 95%">
          <div>
            <mat-form-field style="width: 100%">
              <mat-label>{{ "bookkeeping.book.label.title" | transloco }}</mat-label>
              <input matInput required [formControl]="form.controls.title">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>{{ "bookkeeping.book.label.date-range" | transloco }}</mat-label>
              <mat-date-range-input [rangePicker]="picker" [disabled]="book != null">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%">
              <mat-label>{{ "bookkeeping.book.label.description" | transloco }}</mat-label>
              <textarea matInput [formControl]="form.controls.description"></textarea>
            </mat-form-field>
          </div>
          <div class="form-slide-toggle">
            <mat-slide-toggle [formControl]="form.controls.closed">{{ "bookkeeping.book.label.closed" | transloco }}
            </mat-slide-toggle>
          </div>
        </mat-card-content>
        <mat-card-actions>
          @if (book != null) {
            <button mat-raised-button color="warn" (click)="cancelBookEdit()">
              <mat-icon>close</mat-icon>
              {{ "generic.button.cancel" | transloco }}
            </button>
          }
          <button mat-raised-button type="submit" color="primary" (click)="saveBookEdit()" [disabled]="!form.valid">
            <mat-icon>check</mat-icon>
            {{ "generic.button.save" | transloco }}
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  }

  @if (book != null) {
    <mat-card>
      <mat-card-content>
        <mat-tab-group dynamicHeight [selectedIndex]="selectedTabIndex.value"
                       (selectedIndexChange)="onTabChange($event)">
          <mat-tab [label]="t('bookkeeping.book.tab.account-groups')">
            <app-account-group-list [book]="book"></app-account-group-list>
          </mat-tab>
          <mat-tab [label]="t('bookkeeping.book.tab.transactions')">
            <app-transactions-list></app-transactions-list>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  }

</div>
