<div class="nav-flexbox">
  @if (cards) {
    @for (item of cards; track item.path) {
      <mat-card appearance="raised" class="nav-flex-item" [routerLink]="item.path">
        <mat-card-header>
          <mat-card-title>
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.titleKey | transloco }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>&nbsp;</mat-card-content>
      </mat-card>
    }
  } @else {
    @for (_ of [].constructor(componentStateService.state()?.numberOfCards ?? 1); track $index) {
      <mat-card appearance="raised" class="nav-skeleton-item">
        <ngx-skeleton-loader [theme]="{height:'90px', background: '#f0f0f0'}"></ngx-skeleton-loader>
      </mat-card>
    }
  }
</div>
