.nav-flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-flex-item {
  margin: 10px;
  width: 400px;
  height: 90px;
  background-color: #f0f0f0;

  &:hover {
    cursor: pointer;
    background-color: lightgray;
  }
}

.nav-skeleton-item {
  margin: 10px;
  width: 400px;
  height: 90px;
}

mat-icon {
  vertical-align: text-bottom;
  padding-right: 10px;
}

