.page-body {
  max-width: 800px;
  margin: 0 auto;

  >button {
    margin-bottom: 2em;
  }

}

mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

mat-panel-title {
  mat-icon {
    margin-right: 1em;
  }
}
